* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 640px;
    margin: 80px auto;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.success-message {
    background-color: green;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    display: none;
}

.error-message {
    background-color: red;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    display: none;
}